@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-Regular.eot) format("embedded-opentype"),
      url(/fonts/OpenSans-Regular.ttf) format("truetype"),
      url(/fonts/OpenSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "GothamPro-Bold";
  src: url(/fonts/GothamPro-Bold.eot) format("embedded-opentype"),
      url(/fonts/GothamPro-Bold.ttf) format("truetype"),
      url(/fonts/GothamPro-Bold.woff) format("woff");
}

@font-face {
  font-family: "Coustard";
  src: url(/fonts/Coustard-Regular.ttf) format("truetype"),
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans";
}

/* обнуление свойств по умолчанию */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* body {
    background: coral;
} */

/* задаем стили для мобильной версии */
.container {
  /* border: 1px solid; */
  width: 320px;
  margin: 0 auto;
}

/* ХЭДЭР */
.header_wrapper {
  position: fixed;
  background: rgb(246, 245, 243);
  width: 100%;
  top: 10px;
  z-index: 100;
}

.header_nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 20px;
  padding: 38px 0 38px 55px;
}

.logo {
  text-transform: capitalize;
  font-size: 16px;
  position: relative;
  margin-right: 30px;
}

.logo::before {
  content: "";
  position: absolute;
  background: url(/images/project2/icons/icon_logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  left: -50px;
  top: -12px;
}

.logo span {
  text-transform: uppercase;
  font-weight: bold;
}

.menu {
  overflow: hidden;
  font-weight: bold;
}

.menu li:last-child {
  position: relative;
}

.menu li:last-child::before {
  position: absolute;
  content: "";
  background: url(/images/project1/icons/viber.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  top: 0px;
  left: -22px;
}

.menu li a {
  color: black;
}

.menu li a:hover{
  color: black;
  font-size: large;
  box-shadow: pink;
  border-radius: 15%;
}
  
/* HAMBURGER_MENU */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-btn {
  display: none;
}

/* label - обертка гамбургера */
.header .menu-icon {
  display: flex;
  position: relative;
  user-select: none;
  cursor: grab;
}

/* это span из html - основной элемент гамбургера */
.header .menu-icon .navicon {
  display: block;
  background: palevioletred;
  width: 25px;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .navicon::before,
.header .menu-icon .navicon::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
}

.header .menu-icon .navicon::before {
  background: pink;
  top: 10px;
}

.header .menu-icon .navicon::after {
  background: pink;
  top: -10px;
}

/* эфект гамбургера при нажатии */
/* для спана  */
.header .menu-btn:checked~.menu {
  max-height: 100%;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

/* для псевдоэлементов */
.header .menu-btn:checked~.menu-icon .navicon::before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked~.menu-icon .navicon::after {
  transform: rotate(45deg);
  top: 0;
}

/* СЕКЦИЯ 1 */
.s1 {
  padding: 225px 20px 0;
  padding-left: 20px;
  background: #535353 url(/images/project2/loran_background.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  color: white;
}

.s1_title {
  font-size: 35px;
  font-family: "GothamPro-Bold";
  padding-right: 148px;
}

.s1_list {
  padding: 24px 20px 80px 0;

}

.s1_list-item {
  font-size: 14px;
  padding-left: 24px;
  position: relative;
  margin-bottom: 10px;
}

.s1_list-item::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: url(/images/project2/icons/icon-heart.png);
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}

.s1_list-item span {
  color: pink;
}

.s1_bottom-arrow {
  transform: rotate(90deg);
  color: pink;
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin: auto;
  padding-right: 54px;
}

/* СЕКЦИЯ 2*/
.s2{
 display: flex;
 flex-flow: column;
 align-items: center;
 
}

.s2_title{
  display: block;
  text-align: center;
  font-size: 26px;
  font-family: "GothamPro-Bold";
  padding: 64px 25px 0;
  margin-bottom: 74px;
}
  
.s2_list {
  padding-bottom: 12px;
}

.s2_list-item{
  width: 170px;
  height: 190px;
  border:6px double rgba(255, 192, 203, 0.561);
  margin-bottom: 60px;
  position: relative;
}

.s2_list-item::before{
  content:"";
  position: relative;
  width: 86px;
  height:86px;
  background-color: rgba(255, 192, 203, 0.616);
  border-radius: 50%;
  top: -29%;
  left: 23%;
}

.s2_list-item:nth-child(1)::before{
  background: rgba(255, 192, 203, 0.575) url();
  background-position: center;
  background-repeat: no-repeat;
 }

.s2_list-item:nth-child(2)::before{
 background: pink url();
 background-position: center;
 background-repeat: no-repeat;
}

.s2_list-item:nth-child(3)::before{
  background: pink url();
  background-position: center;
  background-repeat: no-repeat;
}

.s2_list-item:nth-child(4)::before{
  background: pink url();
  background-position: center;
  background-repeat: no-repeat;
}

.s2_list-item:hover{
 background-color: rgba(255, 192, 203, 0.349);
 width: 200px;
 height: 200px;
}

.s2_list-item p{
  display: block;
  text-align: center;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight:bold ;
}

.s2_list-item p:first-child{
  padding-top: 40px;
}

/* СЕКЦИЯ 3 */

.s3 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background:pink;
  width: auto;
  padding: 100px 0;
  position: relative;
}

.ant-carousel-hider {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: 320px;
  overflow: hidden;
  margin: 0 20px;
  position: relative;
}

.ant-carousel-list {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: auto;
}

.ant-carousel-element {
  margin-right: 20px;
}

.ant-carousel-element img {
  width: 280px;
  height: 230px;
  border: 15px solid pink;
}

.ant-carousel-element p {
  font-size: 16px;
  font-weight: bold;
  padding-left: 50px;
  margin-top: 16px;
  position: relative;
}

.ant-carousel-element p::before {
  position: absolute;
  content: "";
  width: 38px;
  border: 1px solid pink;
  background-color: pink;
  top: 10px;
  left: 0;
}


div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
    width: 24px;
    height: 40px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 101;
    top: 44%;
    top: 38%;
    padding: 15px;
}

div.ant-carousel-arrow-left:hover,
div.ant-carousel-arrow-right:hover {
    opacity: 1;
}

/* левая стрелка слайдера */
div.ant-carousel-arrow-left {
    left: -2px;
    left: 0px;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
    background: #53535383 url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
    background-position: center;
}

/* правая стрелка слайдера */
div.ant-carousel-arrow-right {
    right: -4px;
    right: 0px;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
    background: #53535383 url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
    background-position: center;
}
/* ховер левой стрелки слайдера  */
div.ant-carousel-arrow-left:hover,
div.ant-carousel-arrow-right:hover {
    opacity: 1;
}
/* контейнер с точками слайдера */
div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 64px;
    bottom: 38px;
    z-index: 30;
    text-align: center;
}
/* точки слайдера */
span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #bbb;
    border-radius: 5px;
    cursor: pointer;
}

/* СЕКЦИЯ 4 */
.s4 {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.s4_title {
  position: relative;
  padding: 116px 20px 0;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  font-family: "GothamPro-Bold";
}

.s4_title::before {
  position: relative;
  content: "";
  width: 50px;
  height: 34px;
  background: url();
  background-position: center;
  background-repeat: no-repeat;
  top: 30%;
  left: 43%;
}

.s4_list {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 38px 20px 68px 75px;
  position: relative;
}

.s4_list::before {
  position: absolute;
  content: "";
  height: 60%;
  border: 2px solid pink;
  top: 15%;
  left: 12%;
}

.s4_list-item {
  line-height: 30px;
}

.s4_list-item:last-child {
  display: none;
}

/* СЕКЦИЯ 5 */
.s5 {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  background-color: #303030;
  padding-top: 20px;
}

.s5_title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  padding-left: 54px;
  padding-right: 75px;
  color: white;
}

.s5_list {
  padding-top: 40px;
  padding-bottom: 25px;
  position: relative;
}

.s5_list:not(:first-child)::before {
  position: absolute;
  content: "";
  width: 32px;
  border: 1px solid pink;
  background-color: pink;
  top: 15px;
  left: 54px;
}

.s5_list-item,
.s5_list-contact {
  position: relative;
  padding-left: 95px;
  padding-right: 25px;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #9c9a9a;
  line-height: 30px;
}

.s5_list-contact {
  padding-left: 54px;
}

.s5_list-contact a {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.s5_list-contact p {
  font-size: 14px;
  color: #7b7b7b;
}

.s5_list-item::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background: url(/images/project2/icons/icon-heart.png);
  background-position: center;
  background-repeat: no-repeat;
  top: -3px;
  left: 54px;
}

.s5_list-contact:last-child p {
  position: relative;
  padding-left: 30px;
}

.s5_list-contact:last-child p::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background: url(/images/project1/icons/viber.png);
  background-position: center;
  background-repeat: no-repeat;
  top: 4px;
  left: 0;
}

/* ФУТЕР */
.footer-wrapper{
  width: 100%;
  background-color: rgb(66, 51, 51);
}

footer {
  color: grey;
  padding: 24px 0;
}

footer p {
  font-size: 12px;
  text-align: center;
}

@media (width: 768px) {
  .container{
    width: 768px;
  }
  /*HEADER*/
  .header_nav{
    margin:0 40px;
    padding: 34px 0 34px 55px;
  }
  .header .menu-icon{
    display: none;
  }

.menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: visible;
}
.menu li{
  margin-right: 10px;
  padding-left: 20px;
}
.menu li:nth-child(1){
  position: relative;
}

.menu li.s1_list-item:nth-child(1)::after{
  content:"";
  position: absolute;
  width: 2px;
  height: 22px;
  background: grey;
  top: 1px;
  right: -7px;
}
/*SECTION 1*/
.s1{
  padding: 253px 40px 0;
}
.s1_title{
font-size: 50px;
}
.s1_list-item{
  font-size: 20px;
}
.s1_list-item::before{
  top: 4px;
}
.s1{
  flex-flow: row wrap;
}

/* SECTION 2 */
.s2_title {
  font-size: 38px;
  padding: 80px 129px 0;
}

.s2_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 18px;
}

.s2_list-item {
  margin-right: 20px;
}

.s2_list-item:last-child {
  margin-right: 0;
}

/* SECTION 3 */
.ant-carousel-hider {
  width: 768px;
  margin: 0 40px;
}

.ant-carousel-element img {
  width: 334px;
  height: 240px;
}

/* SECTION 4 */
.s4 {
  align-items: flex-start;
}

.s4_title {
  padding: 84px 62px 0 152px;
  font-size: 23px;
  text-align: left;
}

.s4_title::before {
  width: 75px;
  height: 50px;
  background: url();
  top: 58%;
  left: 9%;
}

.s4_list {
  padding: 38px 20px 80px 336px;
}

.s4_list::before {
  height: 60%;
  border: 1px solid pink;
  top: 15%;
  left: 306px;
}

.s4_list-item:last-child {
  display: block;
}

/* SECTION 5 */
.s5 {
  flex-flow: row wrap;
  padding: 79px 0 0 129px;
}

.s5 div {
  width: 246px;
  margin: 0 20px 40px 0;
}

.s5_list:not(:first-child) {
  padding-top: 42px;
}

.s5_list:not(:first-child)::before {
  left: 0;
  top: 20px
}

.s5_list,
.s5_list-contact,
.s5_list-item,
.s5_title {
  padding: 0;
  margin: 0;
}

.s5_list-item {
  padding-left: 35px;
}

.s5_list-item::before {
  top: 0px;
  left: 0px;
}

/* FOOTER */
footer {
  padding: 22px 0;
}

footer p {
  font-size: 14px;
}

}

@media (width: 1280px) {
  .container {
      width: 1280px;
  }

  /* HEADER */
  .header_nav {
      margin: 0 60px;
      padding: 34px 0 34px 55px;
  }

  /* скрываем гамбургер-меню */
  .header .menu-icon {
      display: none;
  }

  /* задаем строчное позиционирование для списка меню*/
  .menu {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      overflow: visible;
  }

  .menu li {
      margin-right: 20px;
  }

  .menu li:nth-child(1) {
      position: relative;
  }

  .menu li:nth-child(1)::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 22px;
      background: grey;
      top: 0;
      right: -12px;
  }

  /* SECTION 1 */
  .s1 {
      padding-top: 330px;
      padding-left: 159px;
      /* padding: 253px 40px 0; */
  }

  .s1_title {
      font-size: 72px;
  }

  .s1_list {
      padding-bottom: 170px;
  }

  .s1_list-item {
      font-size: 24px;
  }

  .s1_list-item::before {
      top: 7px;
  }

  /* SECTION 2 */
  .s2_title {
      font-size: 44px;
      padding: 80px 355px 0;
  }

  .s2_list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding-bottom: 30px;
  }

  .s2_list-item {
      margin-right: 20px;
  }

  .s2_list-item:last-child {
      margin-right: 0;
  }

  /* SECTION 3 */
  .ant-carousel-hider {
      width: 1280px;
      margin: 0 60px;
  }

  .ant-carousel-element {
      margin: 0 20px 0 0;
  }

  .ant-carousel-element img {
      width: 570px;
      height: 344px;
  }

  /* SECTION 4 */
  .s4 {
      align-items: flex-start;
  }

  .s4_title {
      padding: 84px 62px 0 315px;
      text-align: left;
  }

  .s4_title::before {
      width: 110px;
      height: 73px;
      background: url();
      top: 53%;
      left: 14%;
  }

  .s4_title p {
      font-size: 34px;
      letter-spacing: 3.5px;
      line-height: 42px;
  }

  .s4_list {
      padding: 38px 20px 80px 677px;
  }

  .s4_list::before {
      height: 60%;
      border: 1px solid pink;
      top: 15%;
      left: 650px;
  }

  .s4_list-item:last-child {
      display: block;
  }

  /* SECTION 5 */
  .s5 {
      flex-flow: row wrap;
      padding: 79px 237px 0;
      justify-content: space-between;
  }

  .s5 div {
      width: 246px;
      margin-bottom: 74px;
  }

  .s5_list:not(:first-child) {
      padding-top: 42px;
  }

  .s5_list:not(:first-child)::before {
      left: 0;
      top: 20px
  }

  .s5_list,
  .s5_list-contact,
  .s5_list-item,
  .s5_title {
      padding: 0;
      margin: 0;
  }

  .s5_list-item {
      padding-left: 35px;
  }

  .s5_list-item::before {
      top: 0px;
      left: 0px;
  }

  .s5 div:last-of-type {
      width: 700px;
  }

  .s5 div:last-of-type ul,
  .s5_list-contact {
      display: flex;
      flex-flow: row;
  }

  .s5_list-contact p {
      margin: 0 10px;
  }

  .s5_list-contact:first-child {
      position: relative;
      padding-right: 20px;
  }

  .s5_list-contact:first-child::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 28px;
      background: grey;
      top: 0;
      right: 10px;
  }

  .s5_list-contact:nth-of-type(2) {
      padding-left: 30px;
  }

  .s5_list-contact:last-child p {
      padding: 0
  }

  .s5_list-contact:last-child p::before {
      left: -216px;
  }

  /* FOOTER */
  footer {
      padding: 22px 0;
  }

  footer p {
      font-size: 14px;
  }
}